{{ define "content" }}
<div class="row">
  <h1>About UnpayDisco</h1>
  <p>This is a demo program to explore the data for Open Access articles in 
    the <a href="http://unpaywall.org/" target="_blank">Unpaywall.org data set</a>.
  </p>

  <h3>Settings</h3>
  <p>Currently using the following settings</p>

  <ul>
  <li><b>Solr Core: </b>{{ .SolrCoreUrl }}
  </ul>

  <h4>Solr Options</h4>
  <ul>
    {{ range $k, $v := .SolrOptions }}
      <li><b>{{ $k }}: </b> {{ $v }}
    {{ end }}
  </ul>

  <h4>Facets</h4>
  <ul>
    {{ range $k, $v := .SolrFacets }}
      <li><b>{{ $k }}: </b> {{ $v }}
    {{ end }}
  </ul>

  <h3>Source Code</h3>
  <p></p>The source code for this demo is 
  <a href="https://github.com/hectorcorrea/unpaydisco" target="_blank">available for free on GitHub</a>.</p>
</div>
{{ end }}
